/*
	reserve table css
	hj 19.02.12
*/

.table_res {
	border : 1px solid black;
	padding : 5px;
	margin-left: 10%;
	margin-top: 5%;
	
}

.table_res td {
	border : 1px solid black;
	margin: 10px;
	padding : 30px;
}

.tb_time , .tb_room {
	font-size: 30px;
	font-weight: bold;
	color : black;
}

#tb_col_2, #tb_col_4, #tb_col_9 {
	background-color: gray;
}