{% extends 'layout.html' %}	
{% block content %}
<body>
	<table class="table_res">
		<tr>
			<td> </td>
			<td class="tb_time"> 2 PM </td>
			<td class="tb_time"> 5 PM</td>
			<td class="tb_time"> 8 PM </td>
		</tr>
		<tr>
			<td class="tb_room"> Room 1 </td>
			<td id="tb_col_1"> </td>
			<td id="tb_col_2"> </td>
			<td id="tb_col_3"> </td>
		</tr>
		<tr>
			<td class="tb_room"> Room 2 </td>
			<td id="tb_col_4"> </td>
			<td id="tb_col_5"> </td>
			<td id="tb_col_6"> </td>
		</tr>
		<tr>
			<td class="tb_room"> Room 3 </td>
			<td id="tb_col_7"> </td>
			<td id="tb_col_8"> </td>
			<td id="tb_col_9"> </td>
		</tr>
	</table>
{% endblock %}
